<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TuneHub Admin Panel</title>
    <link rel="stylesheet" href="css/adminHome.css">
</head>
<body>
    <div class="container">
        <h1>TuneHub Admin Panel</h1>
        <nav>
            <a href="newSong">Add a new Song</a><br>
            <a href="ViewSong">View all Songs</a><br>
            <a href="createPlaylist">Create PlayList</a><br>
            <a href="viewPlaylist">View PlayList</a><br>
            <a href="logout">LogOut</a>
        </nav>
    </div>
</body>
</html>
